@model HRMS_Recruitment.Models.JobPositionVacancy

@{
    ViewData["Title"] = "Job Vacancy: Details";
}

<h1>Details</h1>

<div>
    <h4>Job Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobPosition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobPosition.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSubmittedToHrForApproval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSubmittedToHrForApproval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPostedOnWebsite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPostedOnWebsite)
        </dd>
        @if (User.IsInRole("HR"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsHrApproved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsHrApproved)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsPostedOnWebsite)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsPostedOnWebsite)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostingDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClosingDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClosingDate)
            </dd>
        }
        @if (User.IsInRole("DIR"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDirApproved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDirApproved)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @if (User.IsInRole("HOD"))
    {
        <form asp-action="SendToHrForApproval" asp-route-id="@Model.Id">
            <input type="submit" value="Send for Approval" class="mt-1" />
        </form>
        <form asp-action="CancelSendToHrForApproval" asp-route-id="@Model.Id">
            <input type="submit" value="Recall Approval request" class="mt-1" />
        </form>
    }
    @if (User.IsInRole("HR"))
    {
        <form asp-action="AcceptHrApproval" asp-route-id="@Model.Id">
            <input type="submit" value="Approve" class="mt-1" />
        </form>
        <form asp-action="RejectHrApproval" asp-route-id="@Model.Id">
            <input type="submit" value="Reject" class="mt-1" />
        </form>
    }
</div>
